.c-featured-work {
  background-position: bottom right;
  background-color: $c-albescent;
  background-repeat: no-repeat;
  margin: 55px auto 110px;
  background-size: cover;
  border-radius: 60px;
  position: relative;
  height: 720px;

  @include media ('<1585px') {
    background-image: none !important;
    padding: 0 40px;
    height: 100%;
  }

  @include media ('<tablet') {
    padding: 0 20px;
  }

  &__wrapper {
    max-width: 1170px;
    margin: 0 auto;

    @include media ('<1585px') {
      justify-content: space-between;
      display: flex;
    }

    @include media ('<desktop') {
      flex-direction: column;
    }
  }

  &__content {
    padding-top: 140px;
    max-width: 367px;

    @include media ('<1585px') {
      max-width: 600px;
    }

    @include media ('<desktop') {
      padding-top: 30px ;
      margin: 0 auto;
    }

    @include media ('<phone') {
      text-align: center;
    }
  }

  &__suptitle {
    margin-bottom: 25px;
    @include suptitle;

    @include media ('<tablet') {
      text-align: center;
    }
  }

  &__title {
    margin-bottom: 30px;

    @include media ('<phone') {
      font-size: $fs-quote;
    }
  }

  &__text {
    letter-spacing: $ls-sm;
    line-height: $lh-text;
    margin-bottom: 50px;
    color: $c-emperor;
  }

  &__btn {
    background-color: $c-daisy;
    border-radius: 19px;
    margin-bottom: 90px;
    max-width: 160px;
    padding: 13px 0;
    color: $c-white;

    @include media ('<phone') {
      margin: 0 auto 45px;
    }
  }

  &__img {
    max-width: 285px;

    @include media ('<1585px') {
      margin: auto 0;
    }

    @include media ('<desktop') {
      margin: 0 auto;
    }
  }
}
