.c-footer {
  background-color: $c-albescent;
  align-items: center;
  border-radius: 50px;
  min-height: 500px;
  margin-top: 70px;
  display: flex;
  padding: 30px;

  @include media ('<580px') {
    padding: 30px 15px;
  }

  &__wrapper {
    justify-content: space-between;
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    @include media ('<811px') {
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(2, auto);
      display: grid;
      padding: 0 30px;
    }

    @include media ('<580px') {
      padding: 0;
    }

    @include media ('<phone') {
      grid-template-columns: repeat(1, auto);
      grid-template-rows: repeat(4, auto);
      justify-content: center;
      text-align: center;
      display: grid;
    }
  }

  &__copyr,
  &__navigation,
  &__connect {
    padding-right: 20px;

    @include media ('<phone') {
      padding-right: 0;
    }
  }

  &__copyr {
    flex-direction: column;
    display: flex;

    @include media ('<desktop') {
      margin-bottom: 30px;
    }
  }

  &__logo {
    margin-bottom: 25px;
    max-width: 170px;
    width: 100%;

    &:hover {
      opacity: 0.7;
    }

    @include media ('<phone') {
      margin: 0 auto 25px;
      max-width: 100px;
    }
  }

  &__sublogo {
    letter-spacing: $ls-sublogo;
    line-height: $lh-sublogo;
    font-size: $fs-sm;
  }

  &__navigation {
    @include media ('<desktop') {
      margin-bottom: 30px;
    }

    @include media ('<811px') {
      padding-right: 0;
    }
  }

  &__nav {
    letter-spacing: $ls-bn;
    font-family: $f-chivo;
    line-height: $lh-btn;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: $fs-bn;
  }

  &__list {
    line-height: 40px !important;
    flex-direction: column;
    color: $c-daisy;

    & li {
      margin: 0;
    }
  }

  &__connect {
    flex-direction: column;
    display: flex;

    @include media ('<phone') {
      margin-bottom: 30px;
    }
  }

  &__mail {
    text-decoration: underline;
    letter-spacing: $ls-mail;
    line-height: $lh-mail;
    font-size: $fs-quote;
    margin: 10px 0 30px;
    color: $c-daisy;

    @include media ('<350px') {
      font-size: $fs-bn;
    }
  }

  &__address {
    line-height: $lh-address;
    letter-spacing: $ls-sm;
    margin-bottom: 20px;
  }

  &__tel {
    line-height: $lh-address;
    letter-spacing: $ls-sm;
  }

  &__link {
    display: flex;

    @include media ('<desktop') {
      margin: 0 auto;
    }

    @include media ('<811px') {
      margin: 0;
    }

    &-wrapper {
      background-color: $c-white;
      border-radius: 50%;
      margin-right: 30px;
      @include size(50);


      &:last-child {
        margin-right: 0px;
      }

      @include media ('<811px') {
        margin: 0 0 30px 0;
      }

      @include media ('<phone') {
        margin: 0 30px 0 0;
      }
    }

    &-social {
      font-family: "Font Awesome 5 Brands";
      justify-content: center;
      line-height: $lh-sl-f;
      align-items: center;
      padding: 15px 17px;
      font-size: $fs-sm;
      display: flex;
      height: 100%;

      & i {
        font-style: normal;
      }

      &:hover {
        transform: scale(1.3);
      }
    }

    @include media ('<811px') {
      flex-direction: column;
    }

    @include media ('<phone') {
      flex-direction: row;
      margin: 0 auto;
    }
  }
}