.c-about-banner {
  position: relative;
  padding: 50px 0;

  &__circle {
    border-radius: 50%;
    position: absolute;
    z-index: -1;

    &--1 {
      background-color: $c-daisy;
      @include size(48);
      right: 6.5%;
      top: -24px;
    }

    &--2 {
      background-color: $c-peppermint;
      @include size(69);
      left: 6%;
      top: 35%;
    }

    &--3 {
      background-color: $c-albescent;
      @include size(34);
      left: 43.5%;
      top: 63%;
    }

    &--4 {
      background-color: $c-lipstick;
      @include size(20);
      left: 28%;
      top: 81%;
    }
  }

  &__wrapper {
    justify-content: space-between;
    min-height: 335px;
    display: flex;

    @include media ('<tablet') {
      flex-direction: column;
    }
  }

  &__content {
    max-width: 270px;
    width: 100%;

    @include media ('<tablet') {
      margin: 0 auto 20px;
    }
  }

  &__breadcrumbs {
    margin-bottom: 25px;
  }

  &__title {
    @include media ('<phone') {
      font-size: $fs-h2;
      text-align: center;
    }
  }

  &__img {
    position: relative;
    max-width: 645px;
    width: 100%;

    @include media ('<tablet') {
      max-width: 400px;
      margin: 0 auto;
    }
  }

  &__picture {
    position: absolute;
    max-height: 645px;
    max-width: 710px;
    z-index: -1;
    width: 100%;
    bottom: 0;
    left: 0;

    @include media ('<tablet') {
      position: static;
    }
  }

}

.c-breadcrumbs {
  text-transform: uppercase;
  font-family: $f-chivo;
  font-weight: bold;
  font-size: $fs-bc;
  color: $c-daisy;
  display: flex;

  & a:hover {
    text-decoration: underline;
  }

  &__item {
    display: inline-block;

    &:not(:last-of-type)::after {
      content: '.';
      margin: 0 4px;
    }
  }
}